**/.ipynb_checkpoints
**/data
**/__pycache__
**/test
**/*.egg-info
**/experiments
**/.vscode
**/.idea
*.png
*.jpg
*.pt
**/.DS_Store
notes.txt
profile*
**/wandb
.env

# Exclude all markdown files except README.md
*.md
!README.md